.App {
	text-align: center;
	background-color: #2b3a55;
}

.title {
	background-color: #ce7777;
	color: #f2e5e5;
	padding: 20px;
}

.footer{
	background-color: #ce7777;
	color: #f2e5e5;
	padding: 20px;
}
.form {
	background-color: #e8c4c4;
	padding: 10px;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}
.audio-player {
	/* margin: 20px; */
}

.button {
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px;
	background-color: #ce7777;
	color: #f2e5e5;
}
.input {
	color: #f2e5e5;
	background-color: #2b3a55;
}

.word-container {
	background-color: #ce7777;
	padding: 25px;
	margin-right: 80px;
	margin-left: 80px;
	margin-bottom: 80px;
  text-align: left;
  width: 40rem;
  display: inline-block;
}

@media only screen and (max-width: 500px) and (min-width: 431px)  {
	

	.audio-player {
		
		width: 14rem;
	}
}

@media only screen and (max-width: 800px) {
	
	.word-container {
		
	  width: 30rem;
	  
	}
	
}


@media only screen and (max-width: 650px) {
	
	.word-container {
		
	  width: 25rem;
	 
	}
	
}

@media only screen and (max-width: 600px) {
	
	.word-container {
		
	  width: 15rem;
	 
	}
	.audio-player {
		
		width: 13.5rem;
	}
}
@media only screen and (max-width: 430px) {
	

	.audio-player {
		
		width: 13.5rem;
	}
}

@media only screen and (max-width: 400px) {
	

	.word-container {
		
		width: 10rem;
	   padding: 40px;
	   font-size:x-small;
	  }
}
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #f2e5e5;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #f2e5e5;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #f2e5e5;
}


/* .App-header {
  background-color: #030f34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
