
.App {
  text-align: center;
  background-color: #2B3A55;
}

.title{
  background-color: #CE7777;
  color: #F2E5E5;
  padding: 20px;
}
.form{
  background-color: #E8C4C4;
  padding: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.audio-player{
  display: inline;
}

.button{
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  background-color: #CE7777;
  color: #F2E5E5;
}
.input{
  color: #F2E5E5;
background-color: #2B3A55;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #F2E5E5;
/* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #F2E5E5;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #F2E5E5;
}



/* .App-header {
  background-color: #030f34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




